{# templates/core/connexion.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}A propos |
	{{ parent() }}
{% endblock %}

{% block content %}
<h1 style="margin-top:2%;text-align:center">Connexion</h1>

<p style="margin-top:2%;text-align:center;font-size:20px;">
	Veuillez remplir le formulaire de connnexion ci-dessous :</p>

<?php

  
  
  
  {% endblock %}
